nav {
  grid-template: 63px / 100px 1fr;
  background-color: blueviolet;
  padding: 10px;
}

input {
  width: 300px;
}

.nav__input--margin {
  margin-right: auto;
  margin-left: auto;
}

.nav__button {
  color: white;
}

.nav__button:hover {
  color: black;
}

.navbar-toggler {
  color: aliceblue;
}

@media screen and (max-width: 991px) {
  .nav__icon {
    display: none;
  }
  .nav__input--margin {
    margin: 0px;
    width: 100%;
  }

  #navContent img {
    display: none;
  }
  .dropdown button {
    width: 100%;
  }
  .dropdown-menu {
    width: 100%;
  }
}
