.app {
  height: 100%;
  display: grid;
  grid-template: 63px 1fr / 20% 1fr;
}

header {
  grid-row: 1;
  grid-column: span 2;
}

app-sidebar {
  max-width: 280px;
  grid-row: 2;
  grid-column: 1;
}

app-users {
  grid-row: 2;
  grid-column: 2;
}

@media screen and (max-width: 992px) {
  .app {
    grid-template: 63px 1fr / 50px 1fr;
  }
}
