@import "../../theme.variables.css";

.sidebar {
  height: 100%;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

a {
  display: grid;
  grid-template: 100% / 1fr 1fr 4fr;
  text-decoration: none;
  color: var(--text__color-primary);
  height: 50px;
}

a:hover {
  background-color: var(--color-secondary);
}

i {
  grid-column: 2;
  margin-top: auto;
  margin-bottom: auto;
}

p {
  grid-column: 3;
  margin-top: auto;
  margin-bottom: auto;
}

.sidebar__link__line {
  grid-column: 1;
  width: 4px;
}

a:hover .sidebar__link__line {
  background-color: var(--text__color-primary);
}

@media screen and (max-width: 1080px) {
  a {
    grid-template: 100% / 1fr 5fr;
  }
  i {
    grid-column: 2;
    margin-left: 8px;
  }
  p {
    display: none;
  }
}
