<div class="sidebar">
  <a href="#">
    <div class="sidebar__link__line"></div>
    <i class="bi bi-person-fill"> </i>
    <p>Profile</p>
  </a>
  <a href="#">
    <div class="sidebar__link__line"></div>
    <i class="bi bi-people-fill"></i>
    <p>Users</p>
  </a>
  <a href="#">
    <div class="sidebar__link__line"></div>
    <i class="bi bi-toggles"></i>
    <p>Control panel</p>
  </a>
  <a href="#">
    <div class="sidebar__link__line"></div>
    <i class="bi bi-folder-fill"></i>
    <p>Projects</p>
  </a>
  <a href="#">
    <div class="sidebar__link__line"></div>
    <i class="bi bi-list-task"></i>
    <p>Tasks</p>
  </a>
  <a href="#">
    <div class="sidebar__link__line"></div>
    <i class="bi bi-box-arrow-in-right"></i>
    <p>Logs</p>
  </a>
  <a href="#">
    <div class="sidebar__link__line"></div>
    <i class="bi bi-chat-left-fill"></i>
    <p>Group chats</p>
  </a>
  <a href="#">
    <div class="sidebar__link__line"></div>
    <i class="bi bi-flag-fill"></i>
    <p>Reports</p>
  </a>
</div>
